@* @model Jobportalwebsite.Models.Blog

@{
    ViewData["Title"] = "Create Blog";
}

<h2>Create New Blog</h2>

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="Title">Title</label>
        <input type="text" class="form-control" id="Title" name="Title" required />
    </div>
    <div class="form-group">
        <label for="Description">Description</label>
        <textarea class="form-control" id="Description" name="Description" required></textarea>
    </div>
    <div class="form-group">
        <label for="Picture">Upload Picture</label>
        <input type="file" class="form-control" id="Picture" name="picture" />
    </div>
    <button type="submit" class="btn btn-primary">Create Blog</button>
</form>
 *@
@model Jobportalwebsite.Models.Blog

@{
    ViewData["Title"] = "Create Blog";
}

<h2>Create New Blog</h2>

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="Title">Title</label>
        <input type="text" class="form-control" id="Title" name="Title" required />
    </div>
    <div class="form-group">
        <label for="Description">Description</label>
        <textarea class="form-control" id="Description" name="Description" required></textarea>
    </div>
    <div class="form-group">
        <label for="Pictures">Upload Pictures</label>
        <input type="file" class="form-control" id="Pictures" name="pictures" multiple />
    </div>
    <button type="submit" class="btn btn-primary">Create Blog</button>
</form>


